@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: white;
    color: black;
  }
  
  .input:focus {
    outline: none;
    border-color: fuchsia;
    box-shadow: 0 0 0 2px rgba(245, 0, 168, 0.3);
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: fuchsia;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #c026d3;
  }
  